.SelectInputOption {
  padding: 0.25em 10px;
  font-size: 0.875em;
  cursor: pointer;
  white-space: nowrap;
  user-select: none;
}

.SelectInputOption:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.SelectInputOption::before {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 2px 6px 2px 0;
  border-radius: 50%;
  content: '';
}

.SelectInputOption--selected::before {
  background-color: #508ef5;
}
