*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font: 16px 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  background-color: hsl(200, 12%, 95%);
}
